<h1>Employee Grid</h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Salario</th>
      <th scope="col">Edad</th>
      <th scope="col">Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <th scope="row">{{persona.id}}</th>

      <td>{{persona.employee_name}}</td>
      <td>{{persona.employee_salary}}</td>
      <td>{{persona.employee_age}}</td>
      <td>{{persona.profile_image}}</td>
    </tr>
  </tbody>
</table>
